$text-light-color: white;
$text-dark-color: rgb(50, 50, 50);
$title-margin: 5%;
$px-small: 10px;
$px-medium: 20px;
$px-large: 30px;
$font-huge: 1.6em;
$font-large: 1.4em;
$font-med-large: 1.3em;
$font-medium: 1.2em;
$font-small: 0.8em;
$academybgcolor: rgb(197, 222, 232);
$footercolor: rgb(70, 70, 70);
$top-height-value: 330px;
$page-top:300px;
$page-top-mobile:100px;
$menu-hide-value: -570px;
$section-min-height: 750px;
$img-clip-top-position: 1566px;

html, body{
    height: auto;
    min-height: 100%;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

ul{
    padding: 0;
}
header{
    margin: 0;
}
p {
    margin: 0;
}

.container{
    max-width: 1000px;
    width: auto;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
.contact-container{
    max-width: 1100px;
    width: auto;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
.title{
    font-weight: normal;
    font-size: 2.1em;
    color: $text-dark-color;
    margin-top: $title-margin;
}
.subtitle{
    font-weight: normal;
    font-size: $font-med-large;
    color: $text-dark-color;
    margin-top: $title-margin;
}

.text-light{
    color: $text-light-color;
    text-shadow: 1px 1px black;
}
.text-bold{
    font-weight: bold;
}

.logo{
    max-width: auto;
    height: 200px;
}

.center-image{
    display: block;
    margin: auto;
    padding-top: 25px;
}
.center-text{
    text-align: center;
}
.m-small{
    margin: $px-small;
}
.m-medium{
    margin: $px-medium;
}
.m-large{
    margin: $px-large;
}
.mb-small{
    margin-bottom: $px-small;
}
.mb-medium{
    margin-bottom: $px-medium;
}
.mb-large{
    margin-bottom: $px-large;
}

.mt-small{
    margin-top: $px-small;
}
.mt-medium{
    margin-top: $px-medium;
}
.mt-large{
    margin-top: $px-large;
}
.font-large p{
    font-size: $font-large;
}
.font-medium p{
    font-size: $font-medium;
}
.font-small p{
    font-size: $font-small;
}
.content-text p{
    line-height: normal;
}

.content-text li{
    line-height: 1.5;
}

.padding-large{
    padding: $px-large;
}

/*NAVIGATION*/
#top_page{
    height: auto;
    min-height: $page-top;
}
#main_navigation{
    width: 100%;
    margin: 0;
}
.show-menu{
    display: none;
}

.menu-items{
    list-style: none;
}

.menu-items li{
    width: auto;
    min-width: 80px;
    margin: 0 15px;
    float: left;
    text-align: center;
    font-size: $font-large;
    color: $text-dark-color;
    z-index: -1;
}

.menu-items li:first-child{
    margin-left: 0;
}
.menu-items li:last-child{
    margin-right: 0;
}

.menu-items a{
    text-decoration: none;
    color:  black;
}
.menu-items a:hover{
    color:  green;
}

.menu-items a:visited{
    text-decoration: none;
}

/*MENU*/
#menu_page{
    width: 100%;
    height:auto;
    min-height: $section-min-height;
    background: url("images/golf_main.jpg") no-repeat center;
    background-size: cover;
    clear: both;
}

.secondary-navigation{
    padding-top: 15%; 
    padding-bottom: 15%;
}

.secondary-menu-items{
    list-style: none;
    padding-top: 5%;
}
.secondary-menu-items li{
    margin: 15px 0;
}

.secondary-menu-items a{
    text-decoration: none;
    color:  white;
    text-shadow: 1px 1px black;
}
.secondary-menu-items a:hover{
    background-color:  rgba(255, 255, 255, 0.2);
}

.secondary-menu-items a:visited{
    text-decoration: none;
}

.menu-border{
    border-bottom: 1px solid white;
    margin-top: $px-small;
    width: 18%;
    min-width: 150px;
}

/*NEWS*/

#news_page{
    width: 100%;
    height:auto;
    background: white;
    clear: both;
    min-height: 1000px;
}


.grid-container-news{
    display: grid;
    grid-template-columns: 30% auto;
}

.grid-item {
    border-bottom: 1px solid $text-dark-color;
    text-align: left;
    color: $text-dark-color;
}

.grid-content{
    margin-right: 40px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.article-link{
    color: green;
    float: right;
    text-decoration: none;
    margin-bottom: 15px;
}
.article-link:hover{
    color: indigo;
}

.article-link:visited{
    text-decoration: none;
}


/*SCHEDULE*/
#schedule{
    position: relative;
    width: 100%;
    height: auto;
    background: url("images/tournament.jpg") no-repeat center;
    min-height: 1000px;
    clear: both;
    margin-top: 0;
    z-index: -10;
}

.schedule-content{
    padding-top: 100px;
}

.schedule-overlay-red{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 115%;
	width: 100%;
    z-index: -2;
    background: rgba(255, 0, 0, 0.3);
}
.schedule-overlay-white{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 115%;
	width: 100%;
    z-index: -3;
    background: white;
}

.schedule-clip-left {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 74%);
}

.schedule-clip-right {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 0);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
}
  
.flex-container > div {
    width: 45%;
    min-width: 300px;
    text-align: left;
    line-height: 200%;
    margin: 2.5%;

}
.flex-container > div:nth-child(even){
    margin-left: 5%;
    margin-right: 0;
}
.flex-container > div:nth-child(odd){
    margin-left: 0;
    margin-right: 5%;
}

.content-box{
    margin: 5%;
}

.content-box p {
    padding: 0;
}

/*DESCRIPTION*/

#description{
    min-height: 450px;
}

/*ACCOMODATION*/

#accommodation{
    min-height: 1080px;
    background-color: rgb(25, 121, 135);
}

.content-list{
    margin: 5%;
}

.content-image{
    max-width: 100%;
    height: auto;
}

/*ACADEMY*/
#academy{
    min-height: 1000px;
    background-color: $academybgcolor;
}

.grid-table-3{
    display: grid;
    grid-template-columns: 33.33% auto 33.33%;
    grid-template-rows: auto 33.33% 33.33%;
    height: auto;

}
.grid-table-item{
    border-bottom: 1px solid black;
}
.grid-table-item p{
    font-size: 1.5em;
    color: rgb(50, 50, 50);
    margin-bottom: 5%;
    margin-top: 5%;
}

.bottom-line{
    border-bottom: 1px solid black;
}

#field_image{
    margin-top: -350px;
}

/*ABC GOLFA*/
#abc_golfa{
    background: url("images/abc_image.jpg") no-repeat center;
    background-size: cover;
    clear: both;
    margin-top: 7%;
    min-height: 800px;
    width: 100%;
}

.description-text p{
    margin-top: 5%;    
}

/*CONTACT*/
#contact{
    min-height: 850px;
    margin-bottom: 5%;
}

/*FOOTER*/
#footer{
    min-height: 200px;
    background-color: $footercolor;
}
.footer-items{
    list-style: none;
    min-height: 150px;
    display: flex;
    align-items: center;
}

.footer-items li{
    vertical-align: middle;
    float: left;
    max-width: 200px;
    text-align: center;
    font-size: 1.1em;
    color: $text-dark-color;
    margin: 0 15px;
}
.footer-items a{
    text-decoration: none;
    color:  rgb(200, 200, 200);
}
.footer-items a:hover{
    color:  white;
}
.footer-items a:visited{
    text-decoration: none;
}

.footer-logo{
    width: 100%;
    height: auto;
    vertical-align: baseline;
}

@media screen and (max-width: 1024px){

    #top_page{
        height: auto;
        min-height: $page-top-mobile;
    }
    .container{
        max-width: 100%;
    }
    
    /*NAVIGATION*/
    #main_navigation{
        position: fixed;
        margin-top: $menu-hide-value;
    }
    
    .menu-items{
        width: auto;
        margin: 0;
    }
    
    .menu-items li{
        width: 100%;
        float: none;
        padding: $px-small 0;
        margin: 0;
        background: white;
        z-index: 2;
        position: relative;
        font-size: $font-huge
    }
    
    .menu-items a{
        color: black;
    }
    
    .show-menu{
        display: block;
        padding: 20px;
        background-color: $text-dark-color;
        color: white;
        text-align: center;
        font-size: $font-huge;
        cursor: pointer;
        position: relative;
    }
    
    .secondary-navigation{
        padding-top: 10%; 
        padding-bottom: 10%;
    }
    
    .secondary-menu-items{
        padding-left: 10%;
        font-size: $font-med-large;
    }
    
    .menu-border{
        padding-left: 10%;
    }
    
    .title{
        text-align: center;
    }
    .subtitle{
        font-size: 1.2em;
    }
    
    .flex-container > div{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .flex-container > div:nth-child(even){
        margin-left: 0;
        margin-right: 0;
    }
    .flex-container > div:nth-child(odd){
        margin-left: 0;
        margin-right: 0;
    }
    
    
    /*NEWS*/
    .grid-container-news{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .grid-item {
        border-bottom: none;
        text-align: left;
        color: rgb(50, 50, 50);
    
    }
    
    .grid-item:nth-child(even){
        border-bottom: 1px solid rgb(50, 50, 50);
        margin: 0;
    }

    /*SCHEDULE*/

    .schedule-overlay-red{
        height: 105%;
    }
    .schedule-overlay-white{
        height: 100%;

    }

    .schedule-clip-left {
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 75%);
    }
    
    .schedule-clip-right {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 0);
    }
    
    
    /*ACCOMODATION*/
    
    .content-image{
        max-width: 90%;
    }
    
    .content-box p{
        margin-right: 5%;
    }
    .description-text p{
        margin-left: 2%;    
        margin-right: 2%;    
    }
    
    /*ACADEMY*/
    
    .grid-table-item p{
        font-size: 1.2em;
    }
    
    /*FOOTER*/
    
    .footer-items{
        list-style: none;
        min-height: 150px;
        display: block;
    }
    
    .footer-items li{
        float: none;
        max-width: 200px;
        text-align: center;
        font-size: $font-med-large;
        color: $text-dark-color;
        margin: 15px auto;
    
    }
    
    .footer-logo{
        display: none;
    }
    
    }
