<div class="p-5">
    <h2 class="display-4">Categories</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Category name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach((category)=>{ %>
                <tr>
                    <td><%= category.id%></td>
                    <td><%= category.name%></td>
                    <td>
                        <form class="d-inline" action="/categories/edit/<%= category.id %>" method="POST">
                            <input type="submit" class="btn btn-primary" value="Edit">
                        </form>
                        <form class="d-inline" action="/categories/delete/<%= category.id %>" method="POST">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
