<div class="p-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/advancement/list">Categories list</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
    <h2 class="display-5">Edit advancement type</h2>
    <form action="/advancement/update/<%= advancement.id %>" method="POST">
        <div class="form-group">
            <label for="advLevel">Level</label>
            <input type="text" name="advLevel" class="form-control" value="<%= advancement.level%>">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>